#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.char.correct {
  color: rgb(0, 255, 0);
}

.char.incorrect {
  color: red;
}

.char {
  color: grey;       /* initial color */
  font-size: 20px;
  white-space: pre-wrap;  /* keeps spaces visible */
}

input {
  margin-top: 20px;
  padding: 12px 16px;
  width: 80%;
  max-width: 500px;

  font-size: 18px;
  font-family: monospace;

  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;

  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
input:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
  opacity: 0.7;
}
input:focus {
 
  box-shadow: 0 0 6px rgba(76, 175, 80, 0.5);
}
